 <!-- Nav baar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" >ApolloNews</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <button type="button" style="background-color: rgb(63, 240, 107);" >Categories</button>
            <select (change)="get_cat()" [(ngModel)]="cat">
              <option value="business" >Business</option>
              <option value="science"  >Science</option>
              <option value="sports"  >Sports</option>
              <option value="general"  >General</option>
              <option value="health"  >Health</option>
              <option value="entertainment"  >Entertainment</option>
              <option value="technology"  >Technology</option>
              <!-- <div class="dropdown-divider"></div>
              <option value="" >Trash</a> -->
              </select>
          </div>
        </li>
      
      </ul>
      
    </div>

  
  </nav>
  
  <nav id="navbar-example3" class="navbar navbar-light" style="background-color: rgb(63, 240, 107);" >
    <div style="text-align: center" class="text-center">
        <a class="navbar-brand"   > <img src="./assets/Logo2.png" alt="Logo"  > </a>
    </div>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link"  style="font-size:30px;color: black;" > ApolloNews says</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link"  style="font-size:30px;color: black;">News</a>
      </nav>
      <a class="nav-link"  style="font-size:30px;color: black;">About us</a>
    </nav>
  </nav>
  
  <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
    <h4 id="item-1">ApolloNews says</h4>
    <p style="padding-left: 30px;">Find here the news of your intrest</p>
    <h5 id="item-1-1" style="padding-left: 20px;">Sources</h5>
    <div *ngFor = "let news of details" class="card col-md-8 mx-auto" style="width: 45rem; padding-top: 5vh;">
      <!-- <img class="card-img-top" src={{news.img}} alt="Card image cap"> -->
      <div class="card-body">
        <!-- <a target="_blank" href={{news.url}}>click here for more details</a> -->
        <!-- <p>Source: {{news.name}}</p> -->
        <img src={{news.urlToImage}} style="max-width:650px">
        <p class="text-center">Title: {{news.title}}</p>
        <p class="card-text text-center">{{news.description}} </p>
        <br>
        <br>
        <button class="btn btn-round btn-primary" (click)="fake(news.description)">Fake Detection</button>
        <p class="text-danger" *ngIf="ft"> {{checkft}} </p>
        <br>
        <br>
        <button class="btn btn-round btn-primary" (click)="posneg(news.description)">Sentiment Detection</button>
        <p class="text-danger" *ngIf="pn">{{checkpn}} </p>        
        <br>
        <br>
        <h6>Comments</h6>
        <input type="text" class="w-100" (change)="get_emo()" [(ngModel)]="comm">
        <p class="text-danger"> {{emo}} </p>
      </div>
    </div>
      <div class="About-us" style="background-color: rgb(63, 240, 107);">
       <h4 id="item-2">About us</h4>  
      </div>
    
  
  </div>

   <!-- About us-->
   <section class="page-section "  style="background-color: rgb(4, 67, 87);">
    <div class="container" style="background-color: rgb(63, 240, 107);">
        <div class="text-center">
            <div id="who-we-are"> <h1 class="section-heading text-uppercase" style="font-family:'Arvo', serif;letter-spacing:6px;">Apollonox</h1>
            <h5 class="section-subheading text-muted" style="font-family: 'MuseoModerno', cursive;">We are undergraduate students of IIT Bombay & this is our Institute Technical Summer Project.</h5></div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/Shivansh.jpg" alt="Shivansh" />
                    <h4>Shivansh Singh</h4>
                    <a class="btnX" href="mailto:shivanshsingh1910@gmail.com"><i class="fab fa-google"></i></a><a class="btnX" href="https://github.com/Vishal152k"><i class="fab fa-github"></i></a><a class="btnX" href="https://www.linkedin.com/in/vishal-srivastava-b721b5191"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="./assets/Rahul.jpg" alt="Rahul" />
                  <h4>Rahul Kumawat</h4>
                  <a class="btnX" href="mailto:rahulhna02@gmail.com"><i class="fab fa-google"></i></a><a class="btnX" href="https://github.com/rhna222"><i class="fab fa-github"></i></a><a class="btnX" href="http://www.linkedin.com/in/rahul-kumawat-64649b192"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/Suyash.jpg" alt="Suyash" />
                    <h4>Suyash Kadam</h4>
                    <a class="btnX" href="mailto:suyashk839@gmail.com"><i class="fab fa-google"></i></a><a class="btnX" href="https://github.com/ShreyamMishra"><i class="fab fa-github"></i></a><a class="btnX" href="https://lichess.org/@/UsedUsername"><i class="fas fa-chess"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="./assets/Aryan.jpeg" alt="Aryan" />
                    <h4>Aryan Pal</h4>
                    <a class="btnX" href="mailto:aryanpal3012001@gmail.com"><i class="fab fa-google"></i></a><a class="btnX" href="https://github.com/Vishesh2k01"><i class="fab fa-github"></i></a><a class="btnX" href="https://www.linkedin.com/in/vishesh-agarwal-775b44192/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>         
</div>
    </div>